<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
<link rel="stylesheet" href="/assets/styles.css" type="text/css">
  </head>
  <body>
    <%-include('partials/nav.ejs');%>
    <h1>Welcome to the profile of <%= person %></h1>
    <p><b>This is your details</b> <br> <strong>Name:</strong> <%= person %> <br> </strong><strong>Age:</strong> <%= data.age %> <br> <strong>Job:</strong> <%= data.job %></p>
    <h2>Songs</h2>
    <ul>
        <% data.Songs.forEach(function(item){ %>
            <li><%= item %></li>
        <% }); %>
    </ul>
  </body>
</html>
